/* General Styling*/

body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}
/* first section starts */
.the-first-Macbook-Section {
  margin-top: 70px;
}
/* some of the following links styles are commonly used css styles throughout the body */
.description-wrapper {
  font-size: 30px;
}
.links-holder ul {
	list-style: none;

}
.links-holder {
	padding: 15px 0;
}
.links-holder ul li {
	display: inline-block;
	padding-right: 20px;
}
.links-holder ul li a {
	color: #06c;
	text-decoration:none;
}
.links-holder ul li a:hover {
	color: #000;
}
.links-holder ul li a::after {
    font-family: "FontAwesome";
    font-weight: 900;
  content: "\f105";
  padding-left: 10px;

}
.links-on-black li a:hover {
  color: white !important;
}
.iphone-11-pro-section {
  background-image: url(../images/home/iphone11-pro-bg.jpg);
 
}
.iphone-11-section {
  background-image: url(../images/home/iphone11-bg.jpg) ;

}
.apple-watch-wrapper {
  background-image: url(../images/home/watch-series-5.jpg);
 /
}
.apple-card-wrapper {
  background-image: url(../images/home/apple-card.jpg);

}
.AppleTV-container {
  background-image: url(../images/home/apple-tv-background.jpg);
}
.The-new-iPad-container {
  background-image: url(../images/home/new-ipad.jpg);

}

 .iphone-11-pro-section, .iphone-11-section, .apple-watch-wrapper, .apple-card-wrapper, .AppleTV-container {   
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;

 }
.watch-more-wrapper ul {
    padding-top: 380px;
}

.watch-more-wrapper ul li a {
    text-decoration: none;
	font-size: 0.85em;
 

}
.watch-more-wrapper a::after{
    font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
 .Airpods-pro-container  {
  background-image: url(../images/home/air-pods.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
   color: white;
   background-size: initial;
 background-color: black;
 height: 550px;
 }
/* @media (min-width:768px)  {
  .AppleTV-and-Airpods-pro-section {
    display: flex;
    gap: 20px ;
  }

} */
/* .The-new-iPad-container {
  background-image: url(../images/home/new-ipad.jpg);

} */

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
  text-decoration: none;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li a {
  border-right: 1px solid #d2d2d7;
  padding: 0 5px;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
